<section>
<div class="bold">Welcome to Version 13.1.57 for Basic Role Playing</div>
<br>
<div class="underline">Significant Changes in this release</div>
<div class="indent">{{localize 'BRP.storyMigrationNotice'}}</div>
<div class="indent">{{localize 'BRP.storyLegacyDeprecated'}}</div>

<br>
<div class="underline">Change Log</div>
<div class="indent"><a style="color: blue; text-decoration: none;" href="https://github.com/Genii-Locorum/brp/blob/main/CHANGELOG.md">https://github.com/Genii-Locorum/brp/blob/main/CHANGELOG.md</a></div>
<br>
<div class="underline">Please report bugs at</div>
<div class="indent"><a style="color: blue; text-decoration: none;" href="https://github.com/Genii-Locorum/brp/issues">https://github.com/Genii-Locorum/brp/issues</a></div>
<br>
</section>
