<section>
<div class="bold">Welcome to Version 13.1.56 for Basic Role Playing</div>
<br>
<div class="underline">Significant Changes in this release</div>
<div class="indent"> Health wound data migration - click CONFIRM to enrich existing wound items with the refreshed Health model.</div>
<div class="indent"> Legacy wound damage and treatment fields remain available for compatibility.</div>

<br>
<div class="underline">Change Log</div>
<div class="indent"><a style="color: blue; text-decoration: none;" href="https://github.com/Genii-Locorum/brp/blob/main/CHANGELOG.md">https://github.com/Genii-Locorum/brp/blob/main/CHANGELOG.md</a></div>
<br>
<div class="underline">Please report bugs at</div>
<div class="indent"><a style="color: blue; text-decoration: none;" href="https://github.com/Genii-Locorum/brp/issues">https://github.com/Genii-Locorum/brp/issues</a></div>
<br>
</section>
